body {
  height: 100vh;
}

section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  opacity: 1;
  height: 50px;
}
.navbar .logo {
  padding: 0;
  height: 30px;
  color: red;
}
.navbar .logo img {
  height: 30px;
}
.navbar .collapse ul {
  margin: auto;
  padding: 0;
}
.navbar .collapse ul li {
  padding: 5px 10px;
}
.navbar .collapse ul li a {
  color: rgb(15, 140, 160);
  font-weight: 900;
}
.navbar .collapse ul li a:hover {
  color: rgb(15, 15, 100);
}

#Hellow {
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, white), color-stop(30%, rgb(15, 140, 160)));
  background: linear-gradient(90deg, white 70%, rgb(15, 140, 160) 30%);
  color: rgb(15, 140, 160);
}

#About {
  height: 50vh;
  background: lightcyan;
}

#Skill {
  height: 50vh;
  background: lightsteelblue;
}

#Portfolio {
  height: 50vh;
  background: lightgreen;
}

#Contact {
  height: 50vh;
  background: lightgoldenrodyellow;
}