body {
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
}

section {
  padding: 60px 0;
}

.navbar {
  opacity: 1;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(90%, rgba(255, 255, 255, 0)));
  background: linear-gradient(white, rgba(255, 255, 255, 0) 90%);
}
.navbar .logo {
  padding: 0;
  height: 30px;
  color: red;
}
.navbar .logo img {
  height: 30px;
}
.navbar .collapse ul {
  margin: auto;
  padding: 0;
}
.navbar .collapse ul li {
  padding: 5px 10px;
}
.navbar .collapse ul li a {
  color: rgb(170, 140, 120);
  font-weight: 900;
  position: relative;
}
.navbar .collapse ul li a:hover {
  color: rgb(15, 15, 100);
}
.navbar .collapse ul li a::before {
  content: attr(data-storke);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 5px white;
}

#Hellow {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, white), color-stop(40%, rgb(170, 140, 120)));
  background: linear-gradient(90deg, white 60%, rgb(170, 140, 120) 40%);
  color: rgb(170, 140, 120);
}
#Hellow .text {
  z-index: 1;
  position: absolute;
  left: 10%;
  line-height: 1vw;
}
#Hellow .text .hi {
  font-size: 4vw;
  padding: 0;
}
#Hellow .text .name {
  font-size: 6vw;
  font-weight: 700;
}
#Hellow .text .web {
  font-size: 2.5vw;
}
#Hellow .text .btn {
  background: rgb(170, 140, 120);
  color: white;
  text-decoration: none;
}
#Hellow .mascot {
  position: relative;
  height: 100vh;
  margin-left: 30%;
  margin-top: 30px;
}
#Hellow .mascot .body {
  height: 100%;
}
#Hellow .mascot .face {
  position: absolute;
  left: 50%;
  top: 150px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#Hellow .wave {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: url(../images/wave.png) no-repeat center/cover;
}

#About {
  width: 100%;
  background: rgb(225, 220, 205);
}
#About .row .img {
  background: url(../images/face.jpg) no-repeat center center;
  min-height: 500px;
}
#About .row .text {
  padding: 30px 0px;
  margin: auto;
  font-family: "Noto Sans TC", sans-serif;
  color: rgb(170, 140, 120);
  line-height: 2rem;
}
#About .row .text h1 {
  color: black;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(170, 140, 120);
}
#About .row .text p {
  text-indent: 2rem;
}
#About .row .btn {
  background: rgb(170, 140, 120);
  color: white;
  font-weight: 500;
  padding-left: 15px;
  letter-spacing: 5px;
}
#About .row .modal-body .box {
  margin-left: 20px;
  margin-bottom: 30px;
  padding: 0 30px 0 10px;
}
#About .row .modal-body .box .line {
  padding-left: 20px;
  border-left: 1px solid rgb(170, 140, 120);
  position: relative;
}
#About .row .modal-body .box .line::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(170, 140, 120);
  position: absolute;
  left: -7.5px;
}
#About .row .modal-body h1 {
  font-size: 22px;
  border-bottom: 0;
  display: inline-block;
  border-bottom: 3px solid goldenrod;
  margin-bottom: 20px;
  color: goldenrod;
}
#About .row .modal-body h2 {
  font-size: 25px;
}
#About .row .modal-body h3 {
  font-size: 16px;
  font-style: italic;
  color: black;
}
#About .row .modal-body .time {
  font-size: 12px;
  background: rgb(170, 140, 120);
  color: white;
  padding: 0px 20px;
  border-radius: 50px;
  display: inline-block;
  margin-bottom: 10px;
}
#About .row .modal-body p {
  text-indent: 0;
  color: gray;
  margin: 0;
  padding-bottom: 30px;
}

#Skill {
  background: white;
}
#Skill .card {
  padding: 0 20px;
  background: 0;
  border: none;
  min-height: 400px;
  margin-bottom: 30px;
}
#Skill .card .card-body {
  padding: 10px 30px 30px 30px;
  border-radius: 5px;
  background: white;
  -webkit-box-shadow: 0 5px 5px rgba(170, 140, 120, 0.5);
          box-shadow: 0 5px 5px rgba(170, 140, 120, 0.5);
}
#Skill .card .card-body:hover {
  background: rgb(170, 140, 120);
  color: white;
}
#Skill .card .card-body:hover i {
  color: white;
}
#Skill .card .card-body:hover h1 {
  color: white;
  border-left: 3px solid white;
}
#Skill .card .card-body:hover h2 {
  color: white;
}
#Skill .card .card-body i {
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 50px;
  color: rgb(170, 140, 120);
  display: block;
}
#Skill .card .card-body h1 {
  color: rgb(170, 140, 120);
  font-size: 30px;
  display: inline-block;
  border-left: 3px solid rgb(170, 140, 120);
  padding-left: 10px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}
#Skill .card .card-body h2 {
  font-size: 15px;
  color: rgb(170, 140, 120);
}
#Skill .card .card-body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#Skill .card .card-body ul li {
  line-height: 40px;
}
#Skill .card .card-body ul li .svg {
  display: inline-block;
  width: 30px;
}
#Skill .card .card-body ul li span {
  color: white;
  font-size: 15px;
  padding: 5px;
  background: lightseagreen;
}

#Portfolio {
  text-align: center;
}
#Portfolio h1 {
  margin-bottom: 30px;
  position: relative;
}
#Portfolio h1::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background: rgb(170, 140, 120);
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#Portfolio .row {
  background: #eee;
  padding: 20px 0;
}
#Portfolio .text {
  text-align: left;
  margin: auto;
  margin-bottom: 10px;
}
#Portfolio .gif {
  padding: 0;
}
#Portfolio .gif .swiper-slide img {
  width: 100%;
  height: auto;
}

#Contact {
  height: 50vh;
  background: lightgoldenrodyellow;
}

@media (min-width: 768px) {
  #About .row .text {
    padding: 50px;
  }
}
@media (min-width: 992px) {
  #Hellow .text .hi {
    font-size: 40px;
  }
  #Hellow .text .name {
    font-size: 60px;
  }
  #Hellow .text .web {
    font-size: 25px;
  }
  #Hellow .wave {
    display: block;
  }
  #About .row .text {
    padding: 0 30px;
  }
  #Skill {
    height: 80vh;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgb(225, 220, 205)), color-stop(50%, white));
    background: linear-gradient(rgb(225, 220, 205) 50%, white 50%);
  }
}