body {
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  // font-family: 'Noto Sans TC', sans-serif;
}

section{
  padding: 60px 0;
}

.navbar {
  opacity: 1;
  height: 50px;
  background: linear-gradient(white,rgba(255,255,255,0) 90%);
  .logo{
    padding: 0;
    height: 30px;
    color: red;
    img{
      height: 30px;
    }
  }
  .collapse{
    ul{
      margin: auto;
      padding: 0;
      li{
        padding: 5px 10px;
        a{
          color: rgb(170,140,120); 
          font-weight: 900;
          position: relative;
          &:hover{
            color: rgb(15,15,100);
          }
          &::before {
            content: attr(data-storke);
            position: absolute;
            z-index: -1;
            -webkit-text-stroke: 5px white;
        }
        }
        
      }
    }
  }
}
// 首頁----------------------------------------------------------------
#Hellow{
  position: relative;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(90deg,white 60%,rgb(170,140,120) 40%);
  color: rgb(170,140,120);
  .text{
    z-index: 1;
    position: absolute;
    left: 10%;
    line-height: 1vw;
    .hi{
      font-size: 4vw;
      padding: 0;
    }
    .name{
      font-size: 6vw;
      font-weight: 700;
    }
    .web{
      font-size: 2.5vw;
    }
    .btn{
      background: rgb(170,140,120);
      color: white;
      text-decoration: none;
    }
  }
  .mascot{
    position: relative;
    height: 100vh;
    margin-left: 30%;
    margin-top: 30px;
    .body{
      height: 100%;
    }
    .face{
      position: absolute;
      left: 50%;
      top: 150px;
      transform: translateX(-50%);
    }
  }
  .wave{
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: url(../images/wave.png)no-repeat center/cover;
  }
}

// 關於----------------------------------------------------------------
#About{
  width: 100%;
  background: rgb(225,220,205);
  .row{
    .img{
      background: url(../images/face.jpg) no-repeat center center;
      min-height: 500px;
    }
    .text{
      padding: 30px 0px;
      margin: auto;
      font-family: 'Noto Sans TC', sans-serif;
      color: rgb(170,140,120);
      line-height: 2rem;
      h1{
        color: black;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(170,140,120);
      }
      p{
        text-indent: 2rem;
      }
    }
    .btn{
      background: rgb(170,140,120);
      color: white;
      font-weight: 500;
      padding-left: 15px;
      letter-spacing: 5px;
    }
    .modal-body{
      .box{
        margin-left: 20px;
        margin-bottom: 30px;
        padding: 0 30px 0 10px;
        .line{
          padding-left: 20px;
          border-left: 1px solid rgb(170,140,120);
          position: relative;
          &::before{
            content: "";
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: rgb(170,140,120);
            position: absolute;
            left: -7.5px;
          }
        }
      }
      h1{
        font-size: 22px;
        border-bottom: 0;
        display: inline-block;
        border-bottom: 3px solid goldenrod;
        margin-bottom: 20px;
        color: goldenrod;
      }
      h2{
        font-size: 25px;
      }
      h3{
        font-size: 16px;
        font-style: italic;
        color: black;
      }
      .time{
        font-size: 12px;
        background: rgb(170,140,120);
        color: white;
        padding: 0px 20px;
        border-radius: 50px;
        display: inline-block;
        margin-bottom: 10px;
      }
      p{
        text-indent: 0;
        color: gray;
        margin: 0;
        padding-bottom: 30px;
      }
    }
  }
}
// 技能----------------------------------------------------------------
#Skill{
  background: white;
  .card{
    padding: 0 20px;
    background: 0;
    border: none;
    min-height: 400px;
    margin-bottom: 30px;
    .card-body{
      padding: 10px 30px 30px 30px;
      border-radius: 5px;
      background: white;
      box-shadow: 0 5px 5px rgba(170,140,120,0.5);
      &:hover{
        background: rgb(170,140,120);
        color: white;
        i{
          color: white;
        }
        h1{
          color: white;
          border-left: 3px solid white;
        }
        h2{
          color: white;
        }
      }
      i{
        margin-bottom: 10px;
        margin-left: 20px;
        font-size: 50px;
        color: rgb(170,140,120);
        display: block;
      }
      h1{
        color: rgb(170,140,120);
        font-size: 30px;
        display: inline-block;
        border-left: 3px solid rgb(170,140,120);
        padding-left: 10px;
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: 400;
      }
      h2{
        font-size: 15px;
        color: rgb(170,140,120);
      }
      ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
          line-height: 40px;
          .svg{
            display: inline-block;
            width: 30px;
          }
          span{
            color: white;
            font-size: 15px;
            padding: 5px;
            background: lightseagreen;
          }
        }
      }
    }

  }
}
// 作品----------------------------------------------------------------
#Portfolio{
  text-align: center;
  .text{
    text-align: left;
    margin:auto;
    margin-bottom: 20px;
  }
  .gif{
    padding:0;
    .swiper-wrapper{
      img{
        max-width: 100%;
        height: auto;
      }
    }
  }
}
// 聯繫----------------------------------------------------------------
#Contact{
  height: 50vh;
  background: lightgoldenrodyellow;
}
@media (min-width: 768px) {
  #About{
    .row{
      .text{
        padding: 50px;
      }
    }
  }
}

@media (min-width: 992px) {
  #Hellow{
    .text{
      .hi{
        font-size: 40px;
      }
      .name{
        font-size: 60px;
      }
      .web{
        font-size: 25px;
      }
    }
    .wave{
      display: block;
    }
  }
  #About{
    .row{
      .text{
        padding: 0 30px;
      }
    }
  }
  #Skill{
    height: 80vh;
    background: linear-gradient(rgb(225,220,205) 50%,white 50%);
  }
}